/*.gradio-container{width:680px!important}*/
/* style.css */
.gradio_group, .gradio_row, .gradio_column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}